.container{
    margin-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    overflow-x: scroll;

}

.desc{
    margin: 100px 0 0 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;

}
.image{
    flex: 1;
    padding-left: 150px;

}
.img{
    width: 100%;
}
.about{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.aboutTitle{
    font-size: 50px;
    font-weight: 700;
}
.aboutparg{
    width: 80%;
    text-align: start;

}
.btn{
    padding: 10px 25px;
    transition: 0.2s;
    outline: none;
    background-color: #996a5d;
    border: none;
}
.btn:hover{
    background-color: #e65830;
    outline: none;
}
.hr{
    display: block;
    padding: 0;
    margin: 30px 0;
    border: 0;
    height: 1px;
    background-color: #000;
    width: 90%;
    text-align: center;
}
.link{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
}
.name{
    font-size: larger;
    font-weight: bold;
}
.aboutD{
    color: #121212dd;
}

@media screen and (max-width:992px) {
    .container{
        justify-content: center;
        align-items: center;
        padding: 30px;
        flex-wrap: wrap;
    }
    .image{
        width: 100%;
        flex: none;
        padding: 0;
    }
    .about{
        width: 100%;
        flex: none;
        justify-content: center;
        align-items: center;
    }
    .aboutTitle{
        font-size: 1.7em;
    }

}