.container{
    padding: 8em;
    text-align: center;
    margin-top: 4em;

}
.spanTitle{
    color: #996a5d;
    grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
}
.h1Title{
    letter-spacing: 2px;
    font-size: 4em;
    padding: 5px;
    margin: 0;
}
.pragTitle{
    color: #252525;
}
.story{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 15px;
    align-items: baseline;
}
@media screen and (max-width:992px){
    .container{
        padding: 30px;
    }
    .h1Title{
        font-size: 30px;
    }
}